---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import type { ContactUsItem } from "@/types";
import { getEntry } from "astro:content";

const contact = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, meta_title, description, image, contact_meta } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />

  <section class="pt-12 xl:pt-24">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {
          contact_meta &&
            contact_meta?.map((contact: ContactUsItem) => (
              <div class="p-10 bg-theme-light dark:bg-darkmode-theme-light rounded-md text-center">
                <p
                  set:html={markdownify(contact.name)}
                  class="mb-6 h3 font-medium text-dark dark:text-darkmode-dark"
                />
                <p set:html={markdownify(contact.contact)} />
              </div>
            ))
        }
      </div>
    </div>
  </section>

  <section class="section"></section>
</Base>
